/*Laptop*/

@media(max-width:1200px) and (min-width:992px){

    .masonry{
        max-width: 990px;
    }

    .grid-item--gigante {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        height: 500px;
    }

    .grid-item--height1 { height: 200px; }
    .grid-item--height2 { height: 270px; }
    .grid-item--height3 { height: 400px; }
    .grid-item--height4 { height: 500px; }

    //Header

    #head-main{

        #header-armchairs{
            width: 350px;
        }
    }

    #header-menu{

        #adress{
            margin-top: 60%;
        }

        #phone-mail{
            margin-top: 10%;
            margin-left: 14%;
        }
    }

    // Projects

    .w-4-h-3{
        height: 400px;

        padding: 3% 0 0 2%;

        h3{
            left: 0px;
        }

        a{
            left: 0px;
        }

        .basket{
            top: 90px;
        }
    }

    .w-4-h-1{
        height: 200px;

        h3{
            left: 0px;
            top: -5px;
        }

        a{
            left: 0px;
            top: -10px;
        }

        .basket{
            left: 20px;
            top: -10px;
        }
    }

    .w-3-h-3{
        height: 400px;

        h3{
            left: 0px;
        }

        a{
            left: 0px;
            top: 10px;
        }

        .basket{
            left: 20px;
            top: 20px;
        }
    }

    .w-5-h-3{
        padding: 4% 0 0 10%;
        height: 400px;

    }

    .w-5-h-2{
        height: 270px;
        padding: 14% 0 0 3%;

        h2{
            margin-bottom: 10px;
        }

        h3{
            right: 75px;
        }

        a{
            right: 75px;
        }

        .basket{
            right: 100px;
        }
    }

    .w-3-h-2{
        padding: 2% 0 0 12%;
        height: 270px;

        h3{
            left: 0px;
            top: 10px;
        }

        a{
            left: 0px;
            top: 10px;
        }

        .basket{
            left: 20px;
            top: 20px;
        }
    }

    // Studio

    #studio-about {
        width: 37%;
    }

    #studio-staff {

        #biography{
            margin-left: 240px;
            width: 600px;
        }
    }

    .designer{

        img{
            width: 190px;
        }
    }

    // News

    .news{
        margin: 5% 0 0 4%;
        width: 542px;
    }

    .new{
        width: 260px;

        img{
            width: 260px;
            margin: 0 0 15px;
        }
    }

    //Footer

    .g-map{
        height: 490px;
        width: 483px;
    }

    .g-canv{
        height: 490px;
        width: 483px;
    }

    .footer{
        padding: 8% 0 0 5%;

        h3{
            left: 0;
        }
    }
}
